#logo {
    height: 25px;
    margin: 0 10px;
    vertical-align: text-top;
    border-radius: 3px;
}

h1 {
    font-size: 25px;
}

h2 {
    font-size: 15px;
}

body {
    min-width: 250px;
}

a {
    padding: 0 20px;
    text-align: center;
    color: black;
}

main {
    padding: 0 10px;
}

footer {
    padding-top: 10px;
}