#tbview {
    color: black;
    border: 1px solid rgb(130, 130, 130);
    background-color: white;
    position: fixed;
    width: 300px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.318);
    /* TODO: hard-coding a very-high-but-valid value here for now */
    z-index: 999999999;
}

#tbview.hidden {
    visibility: hidden;
}

#tbinput {
    padding: 5px;
}

#tbcandidates {
    padding: 5px;
    display: flex;
    gap: 5px;
    overflow: hidden;
}

.tbcandidate {
    border-radius: 3px;
    padding: 3px;
    background-color: #80808030;
}

.tbcandidate.selected {
    background-color: #8080808b;
}

.tbcandidate.placeholder {
    visibility: hidden;
}